<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.inexcell.sistemadegestion"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.VIBRATE"/> 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
     <service android:name=".Demonio_Certificar_3G" /> 
        <activity
            android:name="cl.inexcell.sistemadegestion.Principal"
            android:screenOrientation="portrait"
            android:label="@string/app_principal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="Instalacion"
        	android:screenOrientation="portrait"
        	android:label="@string/app_instalacion" >
            
        </activity>
        
        <activity android:name="Notificar_Averias"
        	android:screenOrientation="portrait"
        	android:label="@string/app_averias" >
            
        </activity>
        
        <activity android:name="Reparacion" 
            android:label="@string/app_reparacion"
            android:screenOrientation="portrait">
            
        </activity>
        
        <activity android:name="Plantas_Externas" 
            android:label="@string/app_plantas_externas"
            android:screenOrientation="portrait">
            
        </activity>
        
        <activity android:name="Certificar_Wifi" 
            android:label="@string/certificar_wifi1"
            android:screenOrientation="portrait">
            
        </activity>
        
        <activity android:name="planta_ext1" 
            android:label="@string/certificar_wifi1"
            android:screenOrientation="portrait">
            
        </activity>
        
        <activity android:name="planta_ext2" 
            android:label="@string/certificar_wifi1"
            android:screenOrientation="portrait">
            
        </activity>
    </application>

</manifest>