<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.inexcell.sistemadegestion"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />
    
    <uses-permission android:name="android.permission.VIBRATE">
    
    
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:permission="android.permission.VIBRATE">
        <activity
            android:name="cl.inexcell.sistemadegestion.Principal"
            android:screenOrientation="portrait"
            android:label="@string/app_principal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="Instalacion"
        android:screenOrientation="portrait"
        android:label="@string/app_instalacion" >
            
        </activity>
        
        <activity android:name="Notificar_Averias"
        android:screenOrientation="portrait"
        android:label="@string/app_averias" >
            
        </activity><activity android:name="Reparacion" android:label="@string/app_reparacion"></activity>
        
        <activity android:name="Plantas_Externas" android:label="@string/app_plantas_externas"></activity>
        <activity android:name="Certificar_Wifi" android:label="@string/certificar_wifi1"></activity>
    </application>

</manifest>